@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: sans-serif;
    max-width: 1920px;
    width: 1920px;
}
#fixed{
    position: fixed;
    z-index: 3;
    height: 85px;
    margin: -10px;
    border: 1px solid #D6D6D6;
    width: 1920px;
    background-color: white;
    max-width: 1920px;
    margin-top: -85px;
}
#insidefixed{
    margin: auto;
    margin-top: 35px;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    min-width: 1100px;
    max-width: 72%;
}
#logo{
    font-weight: 900;
    color: #01996D;
    font-size: 30px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 0px;
    float: left;
}
.menu{
    margin-left: 30px;
}
#sing{
    float: right;
}
#trial{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background: #01996D;
    border-radius: 4px;
    margin-left: 30px;
}
#main img{
    z-index: 1;
    display: block;
    margin: auto;
    margin-left: -10px;
    text-align: center;
    position: absolute;
    width: 1920px;
    height: 835px;
}
#main{
    margin-top: 75px;
    height: 835px;
    width: 1920px;
}
#text{
    z-index: 2;
    position: absolute;
    margin-top: 260px;
    margin-left: 275px;
}
#greentext{
    font-size: 80px;
    font-family: "Times New Roman";
    color: #01996D;
    font-weight: 900;
    width: 460px;
}
#under-greentext{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    width: 420px;
    margin-top: 30px;
}
#green-btn{
    margin-top: 40px;
    padding: 20px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    font-size: 20px;
}
#three-steps{
    width: 1413px;
    margin: auto;
    margin-top: 169px;
    height: 1386px;
}
#how-works{
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
}
#how-works-green{
    width: 584px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 50px;
    line-height: 79px;
    color: #01996D;
    margin: 0;
    display: inline-block;
}
#how-works-small-text{
    float: right;
    width: 671px;
    font-family: Lato;
    font-size: 20px;
    line-height: 30px;
    margin-top: 28px;
}
.three-block{
    display: block;
    margin-top: 52px;
    float: left;
    width: 390px;
}
.cout{
    font-family: Georgia;
    font-size: 150px;
    line-height: 225px;
    color: rgba(1, 153, 109, 0.2);
    position: absolute;
}
.under-cout{
    white-space: nowrap;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    margin-top: 135px;
    margin-left: 88px;
}
.three-steps-main-text{
    font-family: Lato;
    font-size: 20px;
    line-height: 30px;
    margin-top: 55px;
    width: 382px;
    margin-bottom: 40px;
}
.three-block-low{
    display: block;
    margin-top: 339px;
    float: left;
    width: 390px;
    margin-right: 95px;
    margin-left: 95px;
}
#green-block{
    background-color: #245852;
    width: 1920px;
    height: 922px;
    margin: -10px;
    margin-top: 60px;
    color: white;
}
#green-block-inside{
    width: 1500px;
    height: 520px;
    margin: auto;
}
#green-block-main-text{
    font-family: Georgia;
    font-weight: bold;
    font-size: 50px;
    line-height: 79px;
    width: 580px;
    padding-top: 310px;
}
#green-block-small-text{
    font-family: Lato;
    margin-top: 33px;
    font-size: 25px;
    line-height: 39px;
    widows: 530px;
}
#video{
    float: right;
    margin-top: -310px;
}
#our-project{
    height: 936px;
    width: 1920px;
}
#inside-our-project{
    height: 648px;
    width: 1370px;
    margin: auto;
    margin-top: 120px;
}
#out-project-right-site{
    font-family: Lato;
    font-size: 20px;
    line-height: 31px;
    float: right;
}
#name-text{
    font-family: Lato;
    font-size: 25px;
    line-height: 39px;
}
#heading{
    font-family: Georgia;
    font-weight: bold;
    font-size: 50px;
    line-height: 79px;
    color: #01996D;
    width: 584px;
}
#out-project-small-text{
    width: 530px;
    font-family: Lato;
    font-size: 20px;
    line-height: 31px;
}
#small-block-around-foto{
    text-align: center;
    position: absolute;
    width: 296px;
    height: 294px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 3.6px 18.1px 0px rgba(165, 165, 165, 0.25);
    margin-left: -60px;
    margin-top: -219px;
}
#project-for{
    font-family: Lato;
    font-size: 14.5px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 22.6px;
    margin-bottom: 7px;
}
#lien{
    width: 110.49px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-bottom: 13.7px;
}
#name{
    font-family: Lato;
    font-size: 11.9351px;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#contents{
    
    font-family: Georgia;
    font-weight: bold;
    font-size: 15.9292px;
    line-height: 25px;
}
#small-block-around-foto ul{
    margin-left: 36px;
    text-align: left;
}
#small-block-around-foro li{
    margin-top: 16px;
    font-family: Lato;
    font-size: 10.6195px;
    line-height: 17px;
}
#podval{
    width: 1920px;
    height: 654px;
    background-color: #245852;
    margin: -10px;
    color: white;
}
#podval ul li{
    list-style-type: none;
}
#podval li:nth-child(1){
    font-family: Avenir;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 60px;
}
#podval li{
    font-family: Lato;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 60px;
}
#podval ul{
    padding-top: 105px;
    margin-left: 275px;
}






















